.card-deck{
    position: relative;
    top: 10rem;
}
.container #city-info {
    position: relative;
    top: 7rem;
}

#newsticker {
    font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    background-color: orange;
    color: black;
    position: absolute;
    top: 8%;
    width:98%;
    margin: 0 1rem;
  }
  #newsticker li {
    overflow: hidden;
    list-style: none;
    font-size: 14px;
    text-align: left;
    margin-left: 10px;
    line-height: 50px;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  }
  #newsticker li.opened {
    height: 50px;
    max-height: 50px;
    opacity: 1;
  }
  #newsticker li.closed {
    height: 0;
    max-height: 0;
    opacity: 0;
  }

  .disease-container{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 30px;
    position: absolute;
    top: 80%;
    left: 10%;
}
.disease-card{
    display: flex;
    flex-direction: column;
    background-color: #252b43;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-radius: 3px;
    position: relative;
    margin-bottom: 30px;
    min-width: 20rem;
}
.disease-card::after{
    content: "";
    border-top: 5px solid #1ba2f4;
    border-radius: 3px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.card__ig{
    display: flex;
    flex-direction: column;
    background-color: #252b43;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    margin-bottom: 30px;
    /* margin-top: 5px; */
}
.card__ig::after {
    content: "";
    border-top: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    background: linear-gradient(90deg,#fac06c,#db4e93);
}
.card__yt::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top: 5px solid #c2042a;
}
.fa-heartbeat{
    color: #1ba2f4;
}
.fa-youtube-play{
    color: #c2042a;
}
.icon{
    font-size: 22px !important;
}
.fa-instagram{
color: red;
display: block;
background: linear-gradient(0deg,#fac06c,#db4e93);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.card__name{
    padding: 15px 0;
    color: #8a91bd;
    display: flex;
}
.card__number{
    font-size: 56px;
    font-weight: 700;
    color: #fff;
}
.card__followers{
    font-size: 12px;
    text-transform: uppercase;
    color: #8a91bd;
    letter-spacing: 5px;
}
.card__change{
    padding: 15px 0;
    color: #079076;
    display: flex;
}
span{
    margin-left: 5px;
}
.card__triangle-up {
    width: 0;
    height: 0;
    position: relative;
    top: 3px;
    border-right: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid transparent;
    border-bottom: 5px solid #079076;
}
.card__change-down{
    padding: 15px 0;
    color: #da4e5b;
    display: flex;
}
.card__triangle-down {
    width: 0;
    height: 0;
    position: relative;
    top: 9px;
    border-right: 5px solid transparent;
    border-top: 5px solid #da4e5b;
    border-left: 5px solid transparent;
    border-bottom: 5px solid transparent;
}