<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>:: DRS | Animal Portal</title>
   
  </head>
  <body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Animal Disease Information</a></li>
          <li class="breadcrumb-item active" aria-current="page">Odisha</li>
        </ol>
      </nav>
     <div class="container d-flex">
        <form class="form-inline ml-5">
          <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">Disease Name</label> -->
          <select class="custom-select my-1 mr-sm-2" name="disease" id="disease_name">
            <option value="" selected>Select disease name</option>
                <option value="8">Anthrax</option>
                <option value="10">Babesiosis</option>
                <option value="11">Black quarter</option>
                <option value="12">Bluetongue</option>
              <!--  <option value="24" >Contagious caprine pleuro pneumonia</option> -->
                <option value="31">Enterotoxaemia</option>
                <option value="35">Fascioliasis</option>
                <option value="37">Foot and mouth disease </option>
                <option value="48">Haemorrhagic septicaemia</option>
                <option value="60">Peste des petits ruminants</option>
                <!-- <option value="62" >Rabies</option> -->
                <option value="65">Sheep and Goat pox</option>
                <option value="70">Swine fever</option>
                <option value="72">Theileriosis</option>
                <option value="79">Trypanosomiasis</option>
          </select>
          <select class="custom-select my-1 mr-sm-2" name="state" id="state_code">
            <option value="" selected>Select state</option>
            <option value="1">Andhra Pradesh</option>
            <option value="2">Arunanchal Pradesh</option>
            <option value="3">Assam</option>
            <option value="4">Bihar</option>
            <option value="5">Chhattisgarh</option>
            <option value="6">Goa</option>
            <option value="7">Gujarat</option>
            <option value="8">Haryana</option>
            <option value="9">Himachal Pradesh</option>
            <option value="10">Jammu &amp; Kashmir</option>
            <option value="11">Jharkhand</option>
            <option value="12">Karnataka</option>
            <option value="13">Kerala</option>
            <option value="14">Madhya Pradesh</option>
            <option value="15">Maharashtra</option>
            <option value="16">Manipur</option>
            <option value="17">Meghalaya</option>
            <option value="18">Mizoram</option>
            <option value="19">Nagaland</option>
            <option value="20">Odisha</option>
            <option value="21">Punjab</option>
            <option value="22">Rajasthan</option>
            <option value="23">Sikkim</option>
            <option value="24">Tamil Nadu</option>
            <option value="25">Tripura</option>
            <option value="26">Uttar Pradesh</option>
            <option value="27">Uttarakhand</option>
            <option value="28">West Bengal</option>
            <option value="29">Andaman &amp; Nicobar Island</option>
            <option value="30">Chandigarh</option>
            <option value="31">Dadra and Nagar Haveli</option>
            <option value="32">Daman and Diu</option>
            <option value="33">Delhi</option>
            <option value="34">Lakshadweep</option>
            <option value="35">Puducherry</option>
          </select>
          <!-- <label class="my-1 mr-2" for="inlineFormCustomSelectPref">District Name</label>
          <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option selected>Choose...</option>
            {% for pincode in pincodes%}
            <option value="{{ pincode.pincode }}">{{ pincode.district.name|capfirst }}</option>
            {% endfor %}
          </select> -->
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="5">
            <label class="form-check-label" for="inlineRadio1">May</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="6">
            <label class="form-check-label" for="inlineRadio2">June</label>
          </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="7">
              <label class="form-check-label" for="inlineRadio1">July</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="8">
              <label class="form-check-label" for="inlineRadio2">August</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="9">
              <label class="form-check-label" for="inlineRadio1">September</label>
            </div>
          </form>
          <button class="btn btn-outline-success px-5 rounded-pill" onclick="searchDisease()">Submit</button>
     </div>
     <section id="table"></section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>   
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    {% load static %}
    <script src="{% static 'js/animalReport.js' %}"></script>
  </body>
</html>