<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Insights</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/areaReport.css'%}">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
</head>
<body id="myPage">
  <script>
    // pincode_final={{pincode}};
    diseases_final={{diseases_json|safe}};
    outbreak_json={{outbreak_json|safe}};
    console.log(diseases_final)
  </script>
    <main class="d-block">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgba(28,74,90, 0.9) ;">
            <a class="navbar-brand text-light" href="#">Disease REPORTING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link text-light" href="#banner">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#service">Services</a>
                  </li>
                </ul>
            </div>
          </nav>
          <!-- TODO: {pincode:'751004'} is the parameter type for calling the area API -->
          <section class="report-area">
            <div class="container mb-5 text-center">
                <h2 class="ser-title">Search Any Other Location</h2> 
                  <hr class="botm-line w-25" style="position: relative;left: 31%;">
              <div class="row">
                <div class="col-md-12">
                  <select class="js-example-basic-single form-control rounded w-50" name="state" id="optionList">
                    <option selected disabled></option>
                    {% for pincode in pincodes %}
                    <option value="{{ pincode.pincode }}" data-token="{{ pincode.pincode }}" >{{ pincode.district.name|capfirst }}, {{ pincode.pincode }}</option>
                    {% endfor %}
                  </select>
                    <button class="btn btn-outline-success rounded-pill px-5 ml-2" onclick="searchLocation()">Search</button>
                  </div>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <h2 class="ser-title">{{ pincode_details.district.name }} </h2> <!--? Loaction to be dynamic-->
              <hr class="botm-line" style="position: relative;left: 44%;">
            </div>
            <div class="alert alert-{{ max_warn }} ml-5 " role="alert">
                {% if max_warn == 'danger' %}
                <h4 class="alert-heading">Not Safe Location</h4>
                <p>Your destination is unsafe for visit due the contagious spread of certain diseases at {{pincode_details.district.name}}. So it is advisable to cancel your visit.</p>
                <hr>
                <p class="mb-0">Please refer the below given data to know more about the health hazards at {{pincode_details.district.name}}</p>
                {% elif max_warn == 'warning' %}
                <h4 class="alert-heading">Moderately Safe Location</h4>
                <p>Your destination is mildly contaminated with diseases which might create health issues for you. You are requested to have precautional look at them below for further details before you visit {{pincode}}</p>
                <hr>
                <p class="mb-0">{{pincode_details.district.name}} is safe to visit but with certain limitations. Happy and safe journey!</p>
                {% else %}
                <h4 class="alert-heading">Safe Location</h4>
                <p>Your destination is completely safe for you to visit. Any future probable health hazards will be notified to you via our mobile app during your stay at {{pincode_details.district.name}}</p>
                <hr>
                <p class="mb-0">Happy and safe journey!</p>
                {% endif %}
              </div>
              
            <!--?Details reagarding -->
        </section>
        <!-- ? Graph section -->
        {% if diseases %}
        <div class="container" style="position: relative;top: 55%;left: -8%;">
          <main>
            <div class="col-md-12 text-center" style="position: relative; top:-25%;">
              <h2 class="ser-title">Current Disease Infograph at {{pincode_details.district.name}}</h2> 
                  <hr class="botm-line w-25" style="left: 24%;">
            </div>
              <div class="dashboard-container">
                  <div class="card-1">
                      <h4 class="chart-lbl">
                          Vulnerability of diseases in {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="doughnut-chart-container">
                          <canvas class="doughnut-chart" id="doughnut-disease">
                          </canvas>
                      </div>
                  </div>
                  <div class="card-2">
                      <h4 class="chart-lbl">
                          Number of deaths at {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="pie-chart-container">
                          <canvas class="pie-chart" id="pie-disease">
                          </canvas>
                      </div>
                  </div>
                  <div class="card-3">
                      <h4 class="chart-lbl">
                          Number of infections per disease at {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="bar-chart-container">
                          <canvas class="bar-chart" id="bar-disease">
                          </canvas>
                      </div>
                  </div>
              </div>
          </main>
      </div>
      <section class="position-relative" style="top: 70%;left: 2%;">
        <div class="container py-3">
          <div class="card py-3" style="border-radius: 10px;">
            <div class="row text-center">
                <div class="col-md-12 px-3">
                  <div class="card-block px-3">
                    <h4 class="card-title text-danger">{{ disease_max.disease_name }}</h4>
                    <p class="card-text">{{ disease_max.info_symptoms }}</p>
                    <p class="card-text">{{ disease_max.info_precautions }}</p>
                    {% if disease_max.vaccination_available %}
                      <p class="card-text text-success">{{ disease_max.vaccination_regiment }}</p>
                    {% else %}
                    <p class="card-text text-danger text-uppercase">Vaccination not available</p>
                    {% endif %}  
                    <a href="/diseases#{{ disease_max.disease_name }}"><button class="btn btn-outline-success rounded-pill px-5 ml-2">Read More</button></a>
                  </div>
                </div>
      
              </div>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
        {% if outbreaks %}
        <div class="container" style="position: relative;top: 60%;left: -10%;">
          <main>
            <div class="col-md-12 text-center" style="position: relative; top:-25%; left: -3%;">
              <h2 class="ser-title">Outbreak History at {{pincode_details.district.name}}</h2> 
                  <hr class="botm-line w-25" style="left: 30%;">
            </div>
              <div class="dashboard-container">
                  <div class="card-1">
                      <h4 class="chart-lbl">
                          Vulnerability of diseases in {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="doughnut-chart-container">
                          <canvas class="doughnut-chart" id="doughnut-outbreak">
                          </canvas>
                      </div>
                  </div>
                  <div class="card-2">
                      <h4 class="chart-lbl">
                          Number of deaths at {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="pie-chart-container">
                          <canvas class="pie-chart" id="pie-outbreak">
                          </canvas>
                      </div>
                  </div>
                  <div class="card-3">
                      <h4 class="chart-lbl">
                          Number of infections per disease at {{pincode_details.district.name}}
                      </h4>
                      <div class="divider">
                      </div>
                      <div class="bar-chart-container">
                          <canvas class="bar-chart" id="bar-outbreak">
                          </canvas>
                      </div>
                  </div>
              </div>
          </main>
      </div>
          <section class='mb-5' style="position:absolute;top: 115%;left: 20%;"> 
            <div class="row">
              {% for outbreak in outbreaks %}
              <div class="disease-container my-5">
                    <div class="disease-card">
                    <div class="type w-25">
                      <h1 class="text-light">{{outbreak.disease.disease_name }}</h1>
                      <p><strong class="text-uppercase">symptoms: </strong>{{outbreak.disease.info_symptoms|truncatewords:20}}</p>
                      <p><strong class="text-uppercase">How it spreads: </strong>{{outbreak.disease.info_spread|truncatewords:20}}</p>
                      <p><strong class="text-uppercase">Precautional measures: </strong>{{outbreak.disease.info_precautions|truncatewords:20}}</p>
                      <p><strong class="text-uppercase">Managerial Information: </strong>{{outbreak.disease.info_managerial|truncatewords:20 }}</p>
                      <p><strong class="text-uppercase">Diagnostic Information: </strong>{{outbreak.disease.info_diagnostic|truncatewords:20}}</p>   
                        {% if outbreak.disease.vacination_available %}
                        <p class="text-success">Vaccine is available<br>{{outbreak.disease.vaccination_regiment}}</p>
                        {% else %}
                        <p class="text-warning">Vaccine is not available</p>
                        {% endif %}
                        {% if outbreak.disease.zoonotic %}
                        <p class="text-warning">Its a zoonotic disease</p>
                        {% else %}
                        <p class="text-success">Its not a zoonotic disease</p>
                        {% endif %}
                      <a href="/diseases#{{disease.disease.disease_name}}" target="_blank"><button>Know More About {{disease.disease.disease_name}}</button></a>
                    </div>
                    <div class="stats" style="width: 35em;">
                      <div class="clientrev text-center">
                        <span>{{outbreak.disease.mortality}}</span>
                        <p>mortality rate</p>
                      </div>
                      <div class="adspend text-center">
                        <span>{{outbreak.disease.morbidity}}</span>
                        <p>morbidity rate</p>
                      </div>
                      <div class="maus text-center">
                        <span>{{outbreak.disease.incubation_period}} days</span>
                        <p>Incubation period</p>
                      </div>
                      <div class="roi text-center">
                        {% if outbreak.disease.category == '1' %}
                        <span>Water</span>
                        {% elif outbreak.disease.category == '2' %}
                        <span>Vector</span>
                        {% elif outbreak.disease.category == '3' %}
                        <span>Air</span>
                        {% else %}
                        <span>Animal</span>
                        {% endif %}
                        <p>Mode of transmission
                        </p>
                      </div>
                    </div>
                  </div>
                  </div>
                  {% endfor %}
            </div>
            <a href="/diseases"><button class="btn btn-outline-danger rounded-pill px-5" style="margin-left:18rem">Want to know more about diseases?</button></a>
          </section>
          {% endif %}
</main>
<div id="google_translate_element" style="display: none"></div>
<script type="text/javascript">
  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }
  </script>
  
  <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
<script>
      function searchLocation() {
        console.log('Searching')
        pincode = $('#optionList').val();
        window.location = `/area/${pincode.trim()}`
    }

</script>

<script src="{% static 'js/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/areaReport.js' %}"></script>
<script>
  $(document).ready(function() {
  $('.js-example-basic-single').select2();
  $("#optionList").select2({dropdownCssClass : 'bigdrop'}); 
});
</script>
</body>
</html>