<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disease Insights</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
</head>
<body id="myPage">
  <script>
    pincode_final={{pincode}};
    diseases_final={{diseases_json|safe}};
  </script>
    <main class="d-block">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: rgba(28,74,90, 0.9) ;">
            <a class="navbar-brand text-light" href="#">Disease REPORTING</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                    <a class="nav-link text-light" href="#banner">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#service">Services</a>
                  </li>
                </ul>
            </div>
          </nav>
          <!-- TODO: {pincode:'751004'} is the parameter type for calling the area API -->
          <section class="report-area">
            <div class="container">
                <h2 class="ser-title">{{ pincode }} </h2> <!--? Loaction to be dynamic-->
                <hr class="botm-line">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">{{ pincode}}</label>  <!--? Location to be added dynamically from the homepage-->
                    </div>
                    <select class="custom-select" id="inputGroupSelect01">
                      <option selected>Choose a locality</option>
                      <option value="1">Unit-4</option>
                      <option value="2">Nayapalli</option>
                      <option value="3">Saheed Nagar</option>
                    </select>
                  </div>
            </div>
           
            <div class="alert alert-{{ diseases.0.warning}}" role="alert">
                {% if diseases.0.warning == 'success' %}
                <h4 class="alert-heading">Safe Location</h4>
                <p>Your destination is completely safe for you to visit. Any future probable health hazards will be notified to you via our mobile app during your stay at {{pincode}}</p>
                <hr>
                <p class="mb-0">Happy and safe journey!</p>
                {% elif diseases.0.warning == 'warning' %}
                <h4 class="alert-heading">Moderately Safe Location</h4>
                <p>Your destination is mildly contaminated with diseases which might create health issues for you. You are requested to have precautional look at them below for further details before you visit {{pincode}}</p>
                <hr>
                <p class="mb-0">{{pincode}} is safe to visit but with certain limitations. Happy and safe journey!</p>
                {% else %}
                <h4 class="alert-heading">Not Safe Location</h4>
                <p>Your destination is unsafe for visit due the contagious spread of certain diseases at {{pincode}}. So it is advisable to cancel your visit.</p>
                <hr>
                <p class="mb-0">Please refer the below given data to know more about the health hazards at {{pincode}}</p>
                {% endif %}
              </div>
              
            <!--?Details reagarding -->
        </section>
        {% if diseases %}
          <section id="disease-graph">
           <canvas id="myChart" width="600" height="600"></canvas>
          </section>
          <section class='mb-5'> 
            <div class="card">
                <div class="card-body">
                  {% for disease in diseases %}
                  <h5 class="card-title">{{disease.disease.disease_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">Mode of transmission: {{disease.disease.category}}</h6>
                  <p class="card-text">The susceptible age group is {{disease.disease.suseptible_prone_age}}. 
                    Information about it's diagnosis are: {{disease.disease.info_diagnostic}}.
                    The morbidity and mortality rate for this disease are: {{disease.disease.morbidity}} & {{disease.disease.mortality}} respectively.
                    {% if disease.disease.vacination_available %}
                    The vaccination is available for this disease.
                    {% else %}
                    The vaccination is not available for this disease.
                    {% endif %}
                    {% if disease.disease.zoonotic %}
                    It's a zoonotic disease
                    {% else %}
                    It's not a zoonotic disease
                    {% endif %}
                    </p>
                  <h6 class='text-danger'>Precautions:</h6>
                  <ul>
                      <li> {{disease.disease.info_precautions}}</li>
                      <!-- <li> {{disease.disease.info_precautions}}</li> -->
                  </ul>
                  <a href="#" class="card-link">{{disease.disease.info_url}}</a>
                  <hr>
                  {% endfor %}
                  <!-- <h5 class="card-title">{{diseases.1.disease.disease_name}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{diseases.1.disease.category}}</h6>
                  <p class="card-text">Details regarding this disease and other diagnostic information</p>
                  <h6 class='text-danger'>Precautions:</h6>
                  <ul>
                      <li>1</li>
                      <li>2</li>
                  </ul>
                  <a href="#" class="card-link">{{diseases.1.disease.info_url}}</a> -->
                </div>
              </div>
          </section>
          {% endif %}

</main>
<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/jquery.easing.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/chart.js' %}"></script>
<script src="{% static 'js/areaReport.js' %}"></script>
</body>
</html>