<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/govtReport.css'%}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Govt Insights</title>
  </head>
  <body>
    
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Outbreak Alert</a></li>
          <li class="breadcrumb-item"><a href="#" class="text-decoration-none">Govt Insights</a></li>
          <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
      </nav>
     <section>
      <ul id="newsticker">
        <li class="closed">
                  <div>
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <strong>MOSTRA MORTAL REMAIN</strong><span>: Pink Floyd Exhibition al Macro di Roma</span>
                  </div>
                </li><li class="closed">
                  <div>
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <strong>CONCERTO</strong><span>: Roger Waters a Bologna, PalaForum</span>
                  </div>
                </li>
              <li class="closed">
                  <div>
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <strong>NUOVO ALBUM</strong><span>: In uscita nuovo album di Gilmoure</span>
                  </div>
                </li>
              <li class="closed">
                  <div>
                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                    <strong>HIGH HOPES</strong><span>: Best Pink Floyd song!</span>
                  </div>
                </li>
    </ul>
    </section>
    <section class="container">
      <div class="disease-container">
        <div class="row justify-content-between">
          {% for disease in diseases%}
          <div class="col-md-3">
            <div class="disease-card">
              <p class="card__name"><i class="icon fa fa-heartbeat" aria-hidden="true"></i><span>{{disease.disease_name}}</span></p>
              <p class="card__number">{{disease.mortality}}</p>
              <p class="card__followers">Total Infected</p>
              <div class="card__change">
                  <div class="card__triangle-up"></div>
                  <span>12 Today</span>
              </div>
          </div>
          </div>
          {% endfor %}
          <!-- <div class="col-md-3">
            <div class="disease-card mx-2">
              <p class="card__name"><i class="icon fa fa-heartbeat" aria-hidden="true"></i><span>{{diseases.1.disease_name}}</span></p>
              <p class="card__number">1044</p>
              <p class="card__followers">Total Infected</p>
              <div class="card__change">
                  <div class="card__triangle-up"></div>
                  <span>99 Today</span>
              </div>
          </div>
          </div> -->
          <!-- <div class="col-md-3">
            <div class="disease-card card__ig mx-2">
              <p class="card__name"><i class="icon fa fa-heartbeat" aria-hidden="true"></i><span>{{diseases.0.disease_name}}</span></p>
              <p class="card__number">11k</p>
              <p class="card__followers">Total INfected</p>
              <div class="card__change">
                  <div class="card__triangle-up"></div>
                  <span>1099 Today</span>
              </div>
          </div>
          </div> -->
          <!-- <div class="col-md-3">
            <div class="disease-card card__yt mx-2">
              <p class="card__name"><i class="icon fa fa-heartbeat" aria-hidden="true"></i><span>{{diseases.1.disease_name}}</span></p>
              <p class="card__number">8239</p>
              <p class="card__followers">Total INfected</p>
              <div class="card__change-down">
                  <div class="card__triangle-down"></div>
                  <span>1443 Today</span>
              </div>
          </div>
          </div> -->
        </div>
    </div>
    </section>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  </body>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="{% static 'js/govtReport.js' %}"></script>
</html>