<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
    <title>Notice Board</title>
  </head>
  <body>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Outbreak Alert Panel</a></li>
          <!-- <li class="breadcrumb-item"><a href="#">Name of District</a></li> -->
          <li class="breadcrumb-item active" aria-current="page">Notice Board</li>
          <li class="breadcrumb-item">
                  Unread Notices <span class="badge badge-info ml-2">{{unread_notices_length}}</span>
          </li>
        </ol>
      </nav>
      <center>
          <div class="dropdown">
            <button class="btn px-5 btn-outline-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter Notices
            </button>
            <div class="dropdown-menu px-5" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button" onclick="filterNotices(`*`)">All</button>
              <button class="dropdown-item" type="button" onclick="filterNotices(`.read`)">Read</button>
              <button class="dropdown-item" type="button" onclick="filterNotices(`.unread`)">Unread</button>
            </div>
          </div>
      </center>
      <div class="container mt-5 grid">
        {% for notice in notices %}
          {% if notice.read == True %}
             <div class="row read">
          {% elif notice.read == False%}
              <div class="row unread">
          {% endif %}
          <div class="col-xs-12 col-md-12 col-lg-8">
            <div class="card p-5">
            <div class="card-block">
                <div class="alert alert-{{notice.attn |safe}} text-center mx-auto" role="alert">
                  {% if notice.attn == 'danger' %}
                    This is an higly important notice which needs immediate attention
                   {% else %}
                    This is an moderately important notice which needs immediate attention
                   {% endif %} 
                  </div>
              <h4 class="card-title">{{notice.msg_head}}</h4>
              <p class="card-text">{{notice.msg_body}}</p>
            </div>
            {% if notice.msg_notice  %}
            <button class='btn btn-outline-info rounded-pill mt-3 {{ notice.read|yesno:"disabled, " }}' onclick='read({{notice.id}})'>Read</button>
            {%else%}
            <div class="btn-group mt-3">
                 <button class='btn btn-outline-success rounded-pill mr-4 {{ notice.read|yesno:"disabled, " }}' onclick='approve({{notice.id}})' >Approve</button>
                 <button class='btn btn-outline-danger rounded-pill {{ notice.read|yesno:"disabled, " }}' onclick='reject({{notice.id}})' >Reject</button>
            </div>
            {%endif%}
           {% if notice.read %}
           {% if notice.msg_notice %}
           <span class="badge badge-pill badge-success mt-3">This notice has been read and processed</span>
           {% else %}
           <span class="badge badge-pill badge-{{ notice.approved|yesno:'success,danger' }} mt-3">This notice has been read and processed</span>
           {% endif %} 
           {% endif %} 
           <div class="card-footer mt-4">
              <small class="text-muted">{{notice.time}}</small>
            </div>
            </div>
          </div>
        </div>
          {% endfor %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js" integrity="sha512-Zq2BOxyhvnRFXu0+WE6ojpZLOU2jdnqbrM1hmVdGzyeCa1DgM3X5Q4A/Is9xA1IkbUeDd7755dNNI/PzSf2Pew==" crossorigin="anonymous"></script>
</body>
  <script>

          function filterNotices(status) {
              console.log(status)
              $('.grid').isotope({filter: status})
            }
            function post(path, params, method='post') {
                // The rest of this code assumes you are not using a library.
                // It can be made less wordy if you use one.
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                for (const key in params) {
                  if (params.hasOwnProperty(key)) {
                    const hiddenField = document.createElement('input');
                    hiddenField.type = 'hidden';
                    hiddenField.name = key;
                    hiddenField.value = params[key];
                    
                    form.appendChild(hiddenField);
                  }
                }

                document.body.appendChild(form);
                form.submit();
            }

           function approve(id){
                post('/user_action',{notice_id:id,response:'accept',csrfmiddlewaretoken: '{{ csrf_token }}' });
           }
           function reject(id){
                post('/user_action',{notice_id:id,response:'reject',csrfmiddlewaretoken: '{{ csrf_token }}' });
           }
           function read(id){
                post('/user_action',{notice_id:id,response:'seen',csrfmiddlewaretoken: '{{ csrf_token }}' });
           }
  </script>
</html>